---

---

$mainColor: #49eec7;
$size: 32px;
@mixin border($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


body {
  font-family: sans-serif; }

p {
  color: $mainColor;
  font-weight: bold;
  font-size: $size;
  margin: 0px 0px;
  background-color: blue;
  @include border();
  @media only screen and (max-width: 768px) {
    font-size: 12px;
  }
}

h1 {
  font-size: $size + 68;
  margin: 10px 0px; }

.borderDiv {
  border-top: solid 10px #000;
  width: 50%;
  margin: 20px; 
}

.box {
  height: 100px;
  width: 100px;
  fill: red;
}

/* If you want to have a bunch of mixins in an outside file, save it in a folder called "_scss" and put @import "nameOfFile"
somewhere in this file or whatever one you want to have it go into */


/* SVG STYLES FOR KANDINSKY.HTML */

.half-circle {
  fill:#ff0000;
  fill-opacity: 1;
  stroke:black;
  stroke-width: 1;
}

.rotate55 {
  transform: rotate(55deg);
  transform-origin: 50% 50%;
}

.rotate14 {
  transform: rotate(-14deg);
  transform-origin: 50% 50%;
}


/* STYLES FOR HOMEWORK3.HTML */

.st0 {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit:10;
}
.st1 {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

@keyframes blink { 
  0% {
    stroke:#fff;
  }
  50% {
    stroke:#222;
  }
  100% {
    stroke:#fff;
  } 
}

#click path {
  stroke: #fff;
}

#c1 {
  animation-name: blink;
  transition-timing-function: steps(3, start);
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

#l {
  animation-name: blink;
  transition-timing-function: steps(3, start);
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
}

#i {
  animation-name: blink;
  transition-timing-function: steps(3, start);
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

#c2 {
  animation-name: blink;
  transition-timing-function: steps(3, start);
  animation-duration: 1s;
  // animation-duration: 1.3s;
  animation-delay: 2.5s;
  // animation-delay: 1.5s;
  animation-iteration-count: 1;
}

#k {
  animation-name: blink;
  transition-timing-function: steps(3, start);
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
}

.style1 {
  fill:none;
  stroke: #222;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.style2 {
  fill: none;
  stroke: #222;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.style3 {
  fill: none;
  stroke: #222;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.style4 {
  fill: none;
  stroke:#222; 
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}












