---
---

$text: #595959;
$red: #d35959;
$light-gray: #f4f5f5;
$green: #2cb34b;

@font-face {
    font-family: 'akkuratbold';
    src: url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.svg#akkuratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkurat_lightitalic';
    src: url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.svg#akkurat_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkurat_lightregular';
    src: url('../fonts/ufonts.com_akkurat-light-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_akkurat-light-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_akkurat-light-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_akkurat-light-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_akkurat-light-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_akkurat-light-opentype-webfont.svg#akkurat_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkuratregular';
    src: url('../fonts/ufonts.com_akkurat-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_akkurat-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_akkurat-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_akkurat-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_akkurat-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_akkurat-opentype-webfont.svg#akkuratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff') format('woff'),
         url('../fonts/fontello.ttf') format('truetype'),
         url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'akkurat_lightregular';
    font-weight: normal;
    overflow-x: hidden;
    color: #1e1e1e;
    margin: 0;
}

.container-fluid {
    padding: 0px;
}

p {
    color: $text;
    font-size: 14px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 16px;
    color: #a3a3a3;
    font-weight: normal;
}

h2 {
    font-size: 19px;
    text-transform: uppercase;
    color: $text;
    letter-spacing: 1px;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: $red;
    letter-spacing: 1px;
}

h4 {
    font-family: 'akkuratregular';
    font-weight:normal;
}

.header {
    height: 35px;
    width: 100%;
    background-color: $light-gray;
    float: absolute;
    .siteTitle {
        position:absolute;
        padding: 0px 15px;
        margin-top: 7px;
    }
    .cityTitle {
        position:absolute;
        right: 3%;
        margin:7px 0;
    }
}

.americaSvg {
    position: absolute;
    top: 51px;
    left: 126px;
}

#controls {
    background-color: #fff;
    position: absolute;
    top: 105px;
    left: 50px;
    width: 250px;
    height: 300px;
    #gradeDropdown {
        margin: 30px 75px;
    }
    h3 {
        padding: 0px 15px;
        line-height: 23px;
    }
    #worstToEat {
        height: 109px;
        cursor: pointer;
        h4 {
        padding: 8px 15px 0px 15px;
        }
        p {
            padding: 0px 15px;
            margin: -20px 0px;
        }
        span {
            padding: 0px 5px 0px 0px;
        }
        span ~ span {
            padding: 0px 5px 0px 15px;
        }
    }
    // #worstToEat:hover {
    //     background-color: $light-gray;
    // }
}

#back {
    background-color: #fff;
    width: 250px;
    height: 40px;
    position: absolute;
    top: 55px;
    left: 50px;
    p {
        display:inline-block;
        margin:10px
    }
}

#neighborhoodToggle {
    background-color: #fff;
    width: 250px;
    height: 40px;
    position: absolute;
    top: 415px;
    left: 50px;
    p {
        display:inline-block;
        padding: 0px 13px;
        margin: 11px 0px;
    }
}

.switchContainer {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 25px;
}

.cityLabel, #switched {
    background-color:#fff;
    width: 50px;
    height: 20px;
    margin: 0;
    position:absolute;
    p {
        font-size: 9px;
        text-align: center;
        margin: 5px;
    }
    h4 {
        margin: 5px 18px;
    }
}

.bostonSvg {
    position: absolute;
    top: 24px;
}








/* TOGGLE SWITCH CSS */

.onoffswitch {
    position: relative; 
    display: inline-block;
    width: 40px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 1px solid #999999; 
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: 
    margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 18px; 
    padding: 0; 
    line-height: 18px;
    font-size: 9px; 
    color: white;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    padding-top: 1px;
    background-color: #FFFFFF; 
    font-weight:bold;
    color: $green;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    padding-top: 1px;
    color: $red;
    background-color:#fff;
    font-weight: bold;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 10px; 
    margin: 4px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 20px;
    border: 1px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

















