@font-face {
    font-family: 'akkuratbold';
    src: url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_akkurat-bold-opentype-webfont.svg#akkuratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkurat_lightitalic';
    src: url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_akkurat-light-italic-opentype-webfont.svg#akkurat_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkurat_lightregular';
    src: url('../fonts/ufonts.com_akkurat-light-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_akkurat-light-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_akkurat-light-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_akkurat-light-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_akkurat-light-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_akkurat-light-opentype-webfont.svg#akkurat_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkuratregular';
    src: url('../fonts/ufonts.com_akkurat-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_akkurat-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_akkurat-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_akkurat-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_akkurat-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_akkurat-opentype-webfont.svg#akkuratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'akkuratregular';
    overflow-x: hidden;
    color: #1e1e1e;
}

.container-fluid {
    padding: 0px;
}

.top-container {
    margin: 20px 20% 6px;
    height: 75px;
}

@media only screen and (max-width: 768px) {
    .top-container {
        margin: 0px 3%;
    }
    h1 {
        font-size: 19px;
    }
    .project-description {
        margin: 0px 3% !important;
    }
}

em {
    font-family: 'akkuratbold';
    font-style: normal;
    color: #fff;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: .6px;
    color: #1e1e1e;
}

h2 {
    font-family: 'akkuratbold';
    font-weight: bold;
    font-size: 36px;
    color: #fff;
}

a, a:focus {
    padding: 10px 20px;
    border: solid 2px #fff;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
}

a:hover {
    background-color: #fff;
    color: #1e1e1e;
    text-decoration: none;
}

.project0 {
    /*background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/portfolio.jpg");*/
    background: linear-gradient(rgba(76, 199, 233, 1), rgba(76, 209, 189, 1));
    /*background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.45)), url("../images/portfolio.jpg");*/
    background-size: 100vw;
    background-position: center;
    padding: 20px;
    height: 250px;
}

.project0 a:hover {
    color: rgba(76, 209, 189, 1);
}

.project3 a:hover {
    color: rgba(234, 192, 15, 1);
}
.project4 a:hover {
    color: rgba(45, 211, 179, 1);
}
.project5 a:hover {
    color: rgba(2, 150, 175, 1);
}
.project6 a:hover {
    color: rgba(209, 112, 90, 1);
}

.project1 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/firewall.jpg");
    background-size: 100vw;
    background-position: center;
    padding: 20px;
    height: 250px;
}

.project2 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/kandinsky.jpg");
    background-size: 100vw;
    background-position: center;
    padding: 20px;
    height: 250px;
}

.project3 {
    background: linear-gradient(rgba(234, 192, 15, 1), rgba(232, 226, 16, 1));
    background-size: 100vw;
    background-position: center;
    padding: 20px;
    height: 250px;
}

.project4 {
    background: linear-gradient(rgba(45, 211, 179, 1), rgba(47, 209, 112, 1));
    background-size: 100vw;
    background-position: center;
    padding: 20px;
    height: 250px;
}

.project5 {
    background: linear-gradient(rgba(0, 169, 211, 1), rgba(2, 150, 175, 1));
    background-size: 100vw;
    background-position: center;
    padding: 20px;
    height: 250px;
}

.project6 {
    background: linear-gradient(rgba(211, 89, 89, 1), rgba(209, 112, 90, 1));
    background-size: 100vw;
    background-position: center;
    padding: 20px;
    height: 250px;
}

.project7 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/worst-city.png");
    background-size: 100vw;
    background-position: center;
    padding: 20px;
    height: 250px;
}

.project-description {
    margin: 0px 20%;
    padding: 5px 0px;
    border-top: solid 2px #fff;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);
}

.footer {
    width: 100vw;
    padding: 25px 20%;
    color: #fff;
    bottom: 0;
    float: left;
    text-align: right;
    background-color: #4cc6e8;
}

