{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
	<link href="//cloud.typenetwork.com/projects/1583/fontface.css/" rel="stylesheet" type="text/css">
	<link href="style.css" rel="stylesheet">
	<link href="simple-grid.css" rel="stylesheet">
</head>

<body>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url() }}" {% if craft.request.firstSegment == '' %}class="active"{% endif %}>Home</a></li>
					<li><a href="{{ url('solutions') }}" {% if craft.request.firstSegment == 'solutions' %}class="active"{% endif %}>Solutions</a></li>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
					<li><a href="{{ url('jobs') }}" {% if craft.request.firstSegment == 'jobs' %}class="active"{% endif %}>Work with us</a></li>
					<li><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>Contact</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-5">
					<a class="pull-left" href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>CONTACT <img src="img/mail.png" /></a>
					<br>
					<span class="pull-left" style="margin-top: 10px;">Copyright © {{ now.year }} Milliman, Inc. All Rights Reserved</span>
				</div>
				<div class="col-5">
					<span><img src="img/milliman_logo.svg" class="pull-right" /></span>
				</div>
				<div class="col-1"></div>
			</div>
		</footer>
	</div>
</body>
</html>
