body {
  font-family: 'Karla', sans-serif;
  color: #666;
  background-color: #fffdfa;
}

h1 {
  color: black;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

table {
  border: 1px solid black;
  width: 100%;
  margin: 50px 0px;
  background-color: #fff;
}

th {
  border-bottom: 3px solid black;
  height: 30px;
  padding: 5px;
  text-transform: uppercase;
  color: black;
}

td {
  border-right: 1px solid black;
  vertical-align: top;
  padding: 1px 5px;
}

table.content td {
    border-right: none;
}

td.body-content-td table {
  border:none;
  margin:0px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

th p.type {
  font-size: 12px;
  color: #999;
  text-transform: lowercase;
  font-weight: 400;
  margin-bottom: 0px;
}

table.day {
  margin-bottom: 0px;
  margin-top: 30px;
}

table.content {
  margin-top: 0px;
}

.sets {
  font-weight: 700;
  text-align: center;
  width: 20px;
}

.new-set-height .sets li {
  font-weight: 700;
  text-align: right!important;
      width: 40px;
    text-align: right;
}

.four {
  color: #00adef;
}

.five {
  color: #ec008b;
}

.three {
  color: #40ad48;
}

.new-set-height table {
  height: 180px;
}



/* ALT */

.old {
  // background-color: #eee;
  // opacity: .5;
}

.set-height table {
  height: 300px;
  margin-bottom: 40px;
}

.old table, .old th, .old td, .old .notes, .old h5, .old h2 {
  border-color: #999!important;
  color: #999!important;
}


@media only screen and (max-width: 375px) {
    table {
      margin: 30px 0px;
    }
    .old.col-md-12 {
      margin: 10px;
    }
}




