body {
	font-family: "franklin-gothic-urw", sans-serif;
	color: #222;
}

h1 {
	font-size: 48px;
	font-family: "ff-meta-serif-web-pro", sans-serif;
}

h2 {
	font-family: "ff-meta-serif-web-pro", sans-serif;
}

h3 {
	font-family: "ff-meta-serif-web-pro", sans-serif;
}

p {
	font-size: 15px;
}

a {
	color: #b64141;
	text-decoration: none;
	letter-spacing: .5px;
}

a:hover {
	color: #de6969;
	text-decoration: none;
}

.nav {
	margin-top: 50px;
	border-left: 1px solid #ddd;
	padding-bottom: 30px;
}

.nav ul li {
	list-style-type: none;
	padding-top: 10px;
}

.nav button {
	-webkit-appearance: none;
    border: none;
    background-color: transparent;
    padding: 0px;
    color: #b64141;
}

.nav button:hover, .nav button:focus {
	color: #de6969;
	text-decoration: none;
	outline: none;
}

.modal textarea {
	border: 1px solid ;
}

.modal input, .modal textarea {
	width: 100%;
    padding: 8px;
    margin: 10px 0px;
}

.header {
	padding-bottom: 150px;
}

.header h1 {
	margin-top: 60px;
}

.mini-divider {
	height: 1px;
	width: 50px;
	margin: 15px 0px;
	background-color: #ddd;
}

.logo {
    background-image: url("../images/branding1.jpeg");
    background-size: cover;
    background-position-x: -287px;
    position: absolute;
    box-shadow: 0px 3px 20px #888888;
    left: 5%;
    width: 151px;
    height: 182px;
    z-index: 999;
}

.logo img {
	position: absolute;
    top: 132px;
    right: 10px;
}

.home-work {
	background-color: #f5f5f5;
}

.work {
	height: 410px;
	margin: -60px 15px 0px 15px;
}

.main-work .work {
	margin: 50px 15px;
}

.main-work .header {
	padding-bottom: 80px;
}

.working-description {
	background-color: #fff;
	height: 175px;
	padding: 15px;
	vertical-align: top;
}

.see-more {
	text-align:center;
	padding-bottom: 40px;
	padding-top: 50px;
}

.services {
	height: 450px;
	background-color: #076ebb;
	color: #fff;
	text-align:center;
	padding-top: 60px;
}

.services h2 {
	padding-bottom: 60px;
}

.services img {
	padding-bottom: 40px;
}

.resources {
	height: 545px;
	background-color: #e5a122;
	color: #fff;
	text-align: center;
	padding-top: 60px;
}

.resource {
	background-color: #e9b357;
	text-align: left;
	margin: 0px 15px 0px 15px;
	padding: 25px;
	height: 250px;
}

.resources h2 {
	padding-bottom: 60px;
}

.resource img {
	position:absolute;
	right: 50px;
	bottom: 12px;
}

.footer {
	height: 200px;
	background-color: #eee;
}

.about .header {
	padding-bottom: 50px;
}

.about .bio-image {
	border-radius: 250px;
}

.about .bio {
	margin-bottom: 50px;
}

.about .service {
	padding-bottom: 30px;
}

.about .service h3 {
	margin-top: 5px;
}

.btn {
	background-color: #076ebb;
	color: #fff;
	border-radius: 3px;
}

.individual-work .logo {
	position: fixed;
	margin-top: -115px;
}

.individual-work .header {
	padding-bottom: 40px;
}

.individual-work .head h2 {
	margin: 150px 10px 0px;
}

.individual-work .work-hero-image {
	background-image: url("../images/bedroom1-1.jpg");
	background-size: cover;
	background-position: center;
	height: 600px;
}

.individual-work .meta-info {
	padding: 40px;
}

.individual-work .preview img {
	width: 100%;
}

.individual-work .preview img:hover {
	cursor: pointer;
	opacity: 0.7;
}


@media(max-width:767px) {
	.header h1 {
	    margin-top: 206px;
	}
	.header {
		padding-bottom: 75px;
	}
	.head {
	    padding: 0px 42px;
	}
	.nav {
		margin-top: 15px;
	}
	.services {
		height: auto;
	}
	.resources {
		height: auto;
	}
	.row.resource {
		margin-bottom: 30px;
	}
	.row.work {
		margin-bottom: 55px;
	}
	.row.services {
	    padding-bottom: 50px;
	}
}


@media(max-width:992px) {
	.header h1 {
	    margin-top: 206px;
	}
	.header {
		padding-bottom: 75px;
	}
	.head {
	    padding: 0px 42px;
	}
	.nav {
		margin-top: 15px;
	}
	.services {
		height: auto;
	}
	.resources {
		height: auto;
	}
	.row.resource {
		margin-bottom: 30px;
	}
	.row.work {
		margin-bottom: 55px;
	}
	.row.services {
	    padding-bottom: 50px;
	}
}



