{% extends "_layout" %}

{% set entries = craft.entries.section('solutionsContent') %}

{% set workers = craft.entries.slug('workers-comp').first() %}

{% set underwriting = craft.entries.slug('underwriting').first() %}

{% set data = craft.entries.slug('data-warehouse').first() %}



{% block content %}

    <div class="jumbotron solutions">
        <h1 class="headline">Advanced Predictive Analytics</h1>
    </div>
    <div class="content solutions">
        <div class="row first">
            <div class="col-7">
                <h1>{{ workers.title }}</h1>
                <p>{{ workers.body }}</p>
            </div>
            <div class="col-5 hidden-sm"></div>
        </div>
        <div class="row second">
             <div class="col-5 hidden-sm">
            </div>
            <div class="col-7">
                <h1>{{ underwriting.title }}</h1>
                <p>{{ underwriting.body }}</p>
            </div>
        </div>
        <div class="row third">
            <div class="col-7">
                <h1>{{ data.title }}</h1>
                <p>{{ data.body }}</p>
            </div>
             <div class="col-5 hidden-sm"></div>
        </div>
    </div>


{% endblock %}
