{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Contact" %}

{% block content %}
    <div class="content news">
        <div class="container">
            <div class="row">
                <div class="col-2 hidden-sm"></div>

                <div class="col-8">
                    <h1 style="text-align: center;">Contact Us</h1>

                    {% macro errorList(errors) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endmacro %}

                    {% from _self import errorList %}

                    <form method="post" action="" accept-charset="UTF-8">
                        {{ getCsrfInput() }}
                        <input type="hidden" name="action" value="contactForm/sendMessage">
                        <input type="hidden" name="redirect" value="contact/thanks">

                        <label for="fromName">Your Name</label>
                        <input id="fromName" placeholder="Gray Dient" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                        <label for="fromEmail">Your Email</label>
                        <input id="fromEmail" placeholder="name@example.com" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
                        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

                        <label for="message">Message</label>
                        <textarea rows="10" placeholder="How can we help you?" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                        {{ message is defined and message ? errorList(message.getErrors('message')) }}

                        <input id="gotcha" name="gotcha" type="text">

                        <input type="submit" value="Send">
                    </form>
                </div>
                <div class="col-2 hidden-sm"></div>
            </div>
        </div>
    </div>
{% endblock %}
