/* Space out content a bit */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: 'karla', sans-serif;
  font-size: 16px;
  min-height: 100%;
}

#outer-container {
  min-height: 100Q%;
}

h3 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 17px;
  text-transform: lowercase;
  font-weight: 100;
}

a {
  color: #000;
}

a:hover, a:active {
  color: #666;
  text-decoration: none;
}

a.current-page {
  color: #e4b7b7;
  font-weight: bold;
}

.navigation {
  margin-top: 35px;
}

.navigation a {
  padding: 0px 20px;
}

button {
  -webkit-appearance: none;
  border:none;
  background: black;
  color: white;
  display:block;
  height: 50px;
  width: 250px;
}

button:focus {
  -webkit-appearance: none;
  outline:none;
}

button.btn-center {
  margin: 0 auto;
  margin-bottom: 100px;
}

button.submit-btn {
  width: 250px;
  margin-top: 20px;
}

.header {
  height: 150px;
}

.bitches-images {
  height: 100%;
  float: left;
}

.footer {
  height: 200px;
  background-color: #fdf7f7;
  margin: 100px 0px -20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer .footer-text {
  margin: 40px 0px 100px;
}

.bitch-image {
  height: 385px;
}

img.emoji {  
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0px !important;
  display: inline !important;
}

.form-container {
  margin: 0 auto;
  width: 300px;
}

input {
  width: 250px;
}

/* Responsive: iPhone 5 */
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) {
    .bitch-image {
      height: 390px;
    }
}

/* Responsive: Phones */
@media screen and (max-width: 768px) {
  .bitch-image {
    height: 510px;
  }
  .navigation {
    margin-top: 17px;
  }
  .navigation a {
    padding: 0px 12px;
  }
}

/* Responsive: iPhone 6plus */
@media screen and (max-width: 920px) {
  .bitch-image {
    height: 520px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1024px) {
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .bitch-image {
    height: 490px;
  }
}
